@model MangaHub.Core.ViewModels.MangaFormViewModel

@{
    var title = Model.Id > 0 ? "Edit" : "Create";
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Heading</h2>


@using (Html.BeginForm(Model.Action, "Mangas", FormMethod.Post, new { @class = "row", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    if (Model.Id > 0)
    {
        @Html.HiddenFor(m => m.Id)
    }

    if (Model.Picture != null)
    {
        <div class="col-12 col-lg-4">
            <div class="manga-picture">
                @{
                    @Html.HiddenFor(m => m.Picture)
                    var imageSrc = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.Picture));
                    <img src=@imageSrc />
                }
            </div>
        </div>
    }
    <div class="col-12 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Genre)
            @Html.DropDownListFor(m => m.Genre, new SelectList(Model.Genres, "Id", "Name"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Genre)
        </div>
        <div class="form-group">
            @Html.Label("Picture")
            <input type="file" name="PictureWrapper" />
            @Html.ValidationMessageFor(m => m.PictureWrapper)
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
    </div>
    if (Model.Id > 0 && Model.Chapters.Any())
    {
        <div class="col-12 col-lg-4">
            <table class="table table-striped manga-table">
                <thead>
                    <tr>
                        <th>Chapter No.</th>
                        <th>Pages</th>
                        <th>Information</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chap in Model.Chapters)
                    {
                        <tr>
                            <td>@chap.ChapterNo</td>
                            <td>@chap.NumberOfPages</td>
                            <td>@chap.Information</td>
                            <td>
                                <div class="text-center">
                                    <a href="#" class="btn btn-danger text-white js-delete-chapter" 
                                       data-chapter-keycode ="@chap.KeyCode"
                                       style="cursor:pointer;">
                                        <i class="far fa-trash-alt"></i>
                                    </a>     
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="pagination-container">
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
            <div class="row_count"></div>
        </div>

    }

}


@section scripts
{
    <script>
        $(document).ready(function () {
            applyPagination();
        });


        $(document).ready(function () {
            $(".js-delete-chapter").on("click", function (e) {

                let link = $(this);

                if (confirm("Are you sure you want to delete this chapter?")) {
                    $.ajax({
                        url: "/api/chapters?key=" + link.attr("data-chapter-keycode"),
                        method: "DELETE"

                    }).done(function () {
                        link.closest("tr").fadeOut(function () {
                            $(this).remove();
                            applyPagination();
                        });
                    }).fail(function (res) {
                        alert("Something failed!: " + res.responseText);
                    });
                }
            });
        })
    </script>

}

