@model IEnumerable<MangaHub.Core.Models.Manga>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Manga List</h2>

<div class="container manga-list">
    <div class="row pb-4 backgroundWhite">
        @foreach (var manga in Model)
        {
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <h3 class="text-warning">@manga.Title</h3>
                        <div class="manga-picture">
                            @{
                                var imageSrc = string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(manga.Picture));
                            }
                            <img src=@imageSrc />
                        </div>
                        <p>@manga.Description</p>
                        <div class="actions">
                            <a href="@Url.Action("Edit","Mangas", new { id = manga.Id })">Edit</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="row">
                            <div class="col-12">
                                <h3 style="color: #bbb9b9">Uploaded: @manga.DateCreated.ToString("d MMM yyyy HH:mm")</h3>
                            </div>
                            <div class="col-12">
                                @if (manga.Chapters.Any())
                                {
                                    <table class="table table-striped manga-table">
                                        <thead>
                                            <tr>
                                                <th>Chapter No.</th>
                                                <th>Pages</th>
                                                <th>Information</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var chap in manga.Chapters)
                                            {
                                                <tr>
                                                    <td>@chap.ChapterNo</td>
                                                    <td>@chap.NumberOfPages</td>
                                                    <td>@chap.Information</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="pagination-container">
                                        <nav>
                                            <ul class="pagination"></ul>
                                        </nav>
                                    </div>
                                    <div class="row_count"></div>
                                }
                                else
                                {
                                    <p>No Chapter exists...</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            applyPagination();
        });
    </script>

}